<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyj.guessmovies"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    <!-- 3336b684c26b7540  70229ffe9c877dfe youmi -->
    <!-- 552cdd49fd98c5c0e00001d0 youmeng -->
    <!-- 3467522567 241800257416fed1801eee7bad34bd89 sina -->
    <!-- liuyongji#fengkuangcaihanying  huanxin appkey -->
    <!-- YXA6XOTjAOTnEeSgDquAlQZMOw client_id: -->
    <!-- YXA60SWdn9ZrhQrgIhr9dk4RpXKZTFQ client_secret: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- huanxin -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" />

    <application
        android:name="com.lyj.guessmovies.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.lyj.guessmovies.ui.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.PhotoDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.PhotoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.FeebackActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.RankListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lyj.guessmovies.ui.ShopActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bmob.im.demo.ui.BmobMainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.bmob.im.demo.ui.LoginActivity" />
        <activity android:name="com.bmob.im.demo.ui.LocationActivity" />
        <activity android:name="com.bmob.im.demo.ui.BlackListActivity" />
        <activity android:name="com.bmob.im.demo.ui.ImageBrowserActivity" />
        <activity
            android:name="com.bmob.im.demo.ui.AddFriendActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.bmob.im.demo.ui.NewFriendActivity" />
        <activity android:name="com.bmob.im.demo.ui.NearPeopleActivity" />
        <activity android:name="com.bmob.im.demo.ui.UpdateInfoActivity" />
        <activity
            android:name="com.bmob.im.demo.ui.ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.bmob.im.demo.ui.SetMyInfoActivity" />
        <activity
            android:name="com.bmob.im.demo.ui.RegisterActivity"
            android:label="@string/app_name" />

        <!-- youmi begin -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- youmi end -->
        <!-- youmeng begin -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552cdd49fd98c5c0e00001d0" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="default" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.Light" />
        <!-- youmeng end -->
        <!-- bmob pay sdk activity begin ,please put below code into application tag -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.bmob.pay.tool.PayActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- bmob pay sdk activity end -->
        <!-- IM聊天所需的Push start -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" >

                <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 聊天消息接收器 -->
        <receiver android:name=".MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- IM聊天所需的Push end -->


        <!-- 个性功能中的启动定时检测服务，可选功能 -->
        <service android:name="cn.bmob.im.poll.BmobPollService" >
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService" />
            </intent-filter>
        </service>

        <!-- qq回调需要注册该activity -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq授权需要注册该activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1104535806" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="liuyongji#fengkuangcaihanying" />
    </application>

</manifest>